#imagenRespo {
    width: 100%;
}

.cartillaPrincipal{
    margin: 0 110px 30px 110px;
}

.form-control {
    width: 100% !important;
}

.selectForm {
    label {
        font-weight: bold;
    }
}

.selectItem {
    margin-bottom: 10px;
    width: 40%;
}

h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 30px 0;
}

.btn {
    background-color: #1b64ff !important;
    color: white !important;
    font-weight: bold !important;
    border-color: #1b64ff !important;
}

.btn:hover {
    background-color: #0042d1 !important;
    transition: 400ms;
} 

.medico {
    margin-left: 60px !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding-top: 30px;

    .nombrePrestador {
        width: 10rem;
    }

    .direccionTelefono {
        width: 15rem;
    }
}

.nuevaCartilla {
    margin-bottom: 30px;
}

.cartilla-mapa img {
    padding-right: 40px;
    width: 100%;
}

@media (max-width: 460px){
    .cartillaPrincipal{
        margin: 0;
    }
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;  
    }
    .cartilla-mapa {
        margin-top: 20px;
        img {
            padding-right: 0px;
            max-width: 100%;
            }
    }
    .medico {
        flex-direction: column !important;
        align-items: center !important;
        
        .nombrePrestador {
            font-weight: bold;
        }
    }

  
}