#navbarSupportedContent{
    font-size: 22px;
}

.header {
    margin: 5px 0;
    box-shadow: 0px 0px 8px rgba(0,0,0,.1);
}

footer {
    background:#1B64FF;
    color: white;
}

.redes {
    border-right: 1px solid black;
    text-align: center;
    height: 15rem;
}

#titleFooter {
    text-align: center;
    margin: 10px 0 20px 0;
}

.titleRedes{
    text-align: center;
    margin: 10px 0 20px 0;
}

.textoFooter {
    text-align: center;
}

.imgRedes img {
    width: 3rem;
}