.contenido {
    margin: 15px 0;
}

.imagenPrincipal {
    width: 100%;
}

.formCompleto h2 {
    text-align: center;
    margin: 20px 0;
}

.formulario {
    .row {
        margin-bottom: 2rem !important;
    }
}

.editForm {
    width: 90%;
    margin-left: 20px;
}

.btn {
    background-color: #1b64ff !important;
    color: white !important;
    box-shadow: 0 !important;
}

.btn.focus,
.btn:focus {
    box-shadow: 0 0 0 0 !important;
}

.btn.focus.active {
    background-color: #0042d1 !important;
    box-shadow: 0 !important;
}

.btn:hover {
    background-color: #0042d1 !important;
    transition: 400ms;
}

@media (max-width: 460px){
    .row {
        margin-right: 0px !important; 
        margin-left: 0px !important;
    }
}